# General
snippet log "Logging"
console.log($0);
endsnippet

snippet pdb "Debugger"
debugger;
endsnippet

snippet desc "describe"
describe('$1', () => {
  $2
});
endsnippet

snippet it "it"
it('it should $1', () => {
  $2
});
endsnippet
